In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hanza\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hanza\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\hanza\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hanza\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hanza\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
series = pd.Series([4,8,15,16,23,42])

In [4]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
l = [1,2,3,4,5,6,7,8,9,10]

In [6]:
l1 = pd.Series(l)

In [7]:
l1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
data = {'Name':['alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','female']}

In [9]:
ind = lambda x : x + 1

In [10]:
df = pd.DataFrame(data )

In [11]:
df

     Name  Age  Gender
0   alice   25  Female
1     Bob   30    Male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame
In the context of the Python programming language and the pandas library, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It's similar to a table in a relational database or an Excel spreadsheet. Each column in a DataFrame can have a different data type, making it a versatile structure for analyzing and manipulating data.

Series
On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type. It's like a single column of a DataFrame or a single attribute in a dataset.

In [12]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'San Francisco']}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30         London
2  Charlie   28  San Francisco

In [13]:
ages = pd.Series([25, 30, 28], name='Age')
print("\nSeries:")
print(ages)

Series:
0    25
1    30
2    28
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [14]:
# head()
# it is use to see top 5 rows in a dataframe by default it shows 5 rows but
# if we pass value in it then it will show the number of rows which we pass

# tail()
# it is use to see bottom 5 rows in a dataframe by default it shows 5 rows but
# if we pass value in it then it will show the number of rows which we pass

# describe()
# if we use describe funtion in a dataframe then it gives some statistical value 
# for the particular column.
# statistical values include count,mean,maximum,minimum,standard deviation,25%,50% and 75%

# info()
# it gives us the basic information of the dataframe.
# this function is very use full to analyse the dataframe.
# it helps us by showing column name, thier data type, and how many null values are there,etc.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In programming, an object is considered mutable if its state or values can be changed after it is created. In the context of pandas:

Series: Series are considered immutable. Once a Series is created, its values cannot be changed individually. You would need to create a new Series if you want to modify its values.
    
DataFrame: DataFrames are mutable. You can modify, add, or remove columns, as well as change the values within the DataFrame after its creation.

Panel: Panels were a data structure in earlier versions of pandas but have been removed in recent versions due to their limited usage and complexity. but it was mutbale in nature just like a data frame

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
s1 = pd.Series([101,102,103,104])

In [16]:
s1

0    101
1    102
2    103
3    104
dtype: int64

In [17]:
s2 = pd.Series(['hanzala','abhi','salman','leo'])

In [18]:
s2

0    hanzala
1       abhi
2     salman
3        leo
dtype: object

In [19]:
s3 = pd.Series(['Student','data analyst','actor','CA'])

In [20]:
s3

0         Student
1    data analyst
2           actor
3              CA
dtype: object

In [21]:
data = {'ID':s1,'Name':s2,'Profession':s3}

In [22]:
df2 = pd.DataFrame(data)

In [23]:
df2

    ID     Name    Profession
0  101  hanzala       Student
1  102     abhi  data analyst
2  103   salman         actor
3  104      leo            CA